@model Reservation

@{
    ViewData["Title"] = "Liste des produits";
    
    
}

<div id="produit-list-page">
    <div class="row">
        <div class="col-12">
            <div class="page-title">
                <h2>Réservation complétée avec succès</h2>

                    <h2 style="font-weight:bolder">Nom :</h2><br/>
                <h2> @Model.Nom </h2><br /><br />
                <h2 style="font-weight:bolder">Courriel :</h2><br />
                <h2> @Model.Courriel </h2><br /><br />
                <h2 style="font-weight:bolder">Nombre :</h2><br/>
                <h2> @Model.Nombre </h2><br /><br />
                <h2 style="font-weight:bolder">Date :</h2><br />
                <h2> @Model.Date></h2><br /><br />
                <h2 style="font-weight:bolder">Choix de menu :</h2><br />
                <h2> @Model.ProduitId </h2><br /><br />
                

                <br/>
                <a asp-controller="Home" asp-action="index">Retour à la page d'accueil</a>
            </div>

        </div>
    </div>
</div>